# flatpak-builder
/.flatpak-builder/
/build/
/repo/
/publish/
/nuget-sources/

# rust
/shim/target/

# dotnet
[Bb]in/
[Oo]bj/

# jetbrains
/.idea/
*.DotSettings.user

# python
__pycache__/

# AI
.claude/settings.local.json
.aider*
opencode.json