[Desktop Entry]
Name=Cabinet
Exec=cabinet-gui %u
Icon=io.github.mark12870.cabinet
Terminal=false
Type=Application
NoDisplay=true
MimeType=x-scheme-handler/rolandcloudmanager;
